asgiref==3.7.2
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.7.0
dj-database-url==2.2.0
Django==5.0.3
django-cors-headers==4.3.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
fonttools==4.54.1
gunicorn==23.0.0
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
pycparser==2.22
pydyf==0.11.0
PyJWT==2.9.0
pyphen==0.15.0
python-decouple==3.8
python-dotenv==1.0.1
setuptools==75.2.0
sqlparse==0.4.4
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
weasyprint==63.0
webencodings==0.5.1
wheel==0.44.0
whitenoise==6.7.0
zopfli==0.2.3.post1
